<h1> Welcome to Ve Language Learning Project</h1>
<h2> Choose your field of interest </h2>

<li><a href='{% url "general1" %}'> General (Mixed Context), Level 1</a></li>
<li><a href='{% url "general2" %}'> General (Mixed Context), Level 2</a></li>
<li><a href='{% url "general3" %}'> General (Mixed Context), Level 3</a></li>

</br>    

<li><a href='{% url "books1" %}'> Books, Level 1</a></li>
<li><a href='{% url "books2" %}'> Books, Level 2</a></li>
<li><a href='{% url "books3" %}'> Books, Level 3</a></li>

</br>    

<li><a href='{% url "movies1" %}'> Movies, Level 1</a></li>
<li><a href='{% url "movies2" %}'> Movies, Level 2</a></li>
<li><a href='{% url "movies3" %}'> Movies, Level 3</a></li>

</br>    

<li><a href='{% url "legaltexts1" %}'> Legal Texts, Level 1</a></li>
<li><a href='{% url "legaltexts2" %}'> Legal Texts, Level 2</a></li>
<li><a href='{% url "legaltexts3" %}'> Legal Texts, Level 3</a></li>
