{% extends 'polls/base.html' %}

{% block title %}About us{% endblock %}

{% block content %}

<section id="about_us">
    <div class="row">
        <div class="col-md-12">
            <h2>
                About us
            </h2>
			<p>
				We are thee girls interested in digital media and culture. We have a fascination for languages and a background in philological studies.
				We (or some of us) speak Hungarian, French, Croatian, German, English, Italian, Islandic, Russian, Indonesian, Swedish and we are looking
				forward to improving our Spanish skills ;-)
			</p>
			<p>
				With the Vé project we want to contribute to the developement of E-learning methods for language acquisition.
			</p>
			<p>
				Fabienne Leuenberger
			</p>
			<p>
				Dolores Batinic
			</p>
			<p>
				Kornelia Papp
			</p>
        </div>
    </div>
</section> 

{% endblock content %}