{% extends 'polls/base.html' %}

{% block content %}


<!-- About Ve-->

<section id="about_ve">
    <div class="row">
        <div class="col-md-12">
            <h2>
                About Vé
            </h2>
            <p>
                Vé comes from the Nordic God Vé who gave the ability of language to human beings.<sup><a href="#fn1" id="ref1">1</a></sup>
                Inspired by this heavenly superior force, the aim of the Vé project is to provide an alternative to learning languages.
                Use the benefits of the digital age and challange your foreign language expertize by translating sentences from your
                favourite domain.
            </p>
            <p>
                For the moment, you can learn Spanish by translating English sentences from books, movies, legal and mixed texts.
            </p>
    
        </div>
    </div>
</section>
<!--Cen-->
<section id="footnote">
    <div class="row">
        <div class="col-md-12">
            <hr></hr>
            <sup id="fn1">
                1. One day." replied Har, "as the sons of Bor were walking along the sea-beach they found two stems of wood,
                out of which they shaped a man and a woman. The first (Odin) infused into them life and spirit; the second (Vili)
                endowed them with reason and the power of motion; the third (Vé) gave them speech and features, hearing and vision.
                Sturleson, Snorre: The Younger Eddas. Translated from the original Old Norse Text into English
                by I.A. Blackwell, London 1906, p. 266
                <!--<a href="#ref1" title="Jump back to footnote 1 in the text.">↩</a>-->
            </sup>
        </div>
    </div>
</section>


{% endblock content %}

